<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
	<title>Hence File Manager</title>
	<link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" />
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.css" rel="stylesheet">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
		/*.fas {
			margin-right: 7px;
    		margin-left: 7px;
    		line-height: 22px;
    		vertical-align: baseline;
			vertical-align: middle;
			display: table-cell;
		}
		.file-item {
			text-align: center;
			display: table;
		}*/
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div class="container">
			<a href="" class="nav navbar-brand"><b>Hence File Manager</b></a>
		</div>
	</nav>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<form method="post">
				<input type="file" id="file">
				<button class="btn btn-primary" id="file-submit" type="button">保存</button>
				<div class="alert" role="alert" id="result"></div>
			</form>

			<button class="btn" id="refresh" onclick="refresh()"><i class="fas fa-sync" aria-hidden="true"></i></button>
			<div class="toolbar">
			</div>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item active" aria-current="page">
						<a href="/app" title="根目录">
							<i class="fas fa-folder"></i>
						</a>
					</li>
				</ol>
			</nav>
			<div>
				<div class="col-12 row">
					<div class="file-item col-4">
						<i class="fas fa-folder" aria-hidden="true"></i>
						<a id='father'>..</a>
					</div>
				</div>
			</div>
			<div id="file-group">
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container text-center">
			<div class="col-12">
				<b>Hence File Manager</b> © 2021 <a href="https://enatsu.top">Enatsu</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		function processFather() {
			$("#father").attr("href", window.location.href.replace(/(.+)\/.+/g, '$1', 1));
		}
		function fixFileSize(size) {

			if (size === '') return '';
			if (size > 1024) {
				if (size > 1024 * 1024) {
					if (size > 1024 * 1024 * 1024) {
						return Number(size / (1024 * 1024 * 1024)).toFixed(2) + 'G';
					} else return Number(size / (1024 * 1024)).toFixed(2) + 'M';
				}
				else return Number(size / (1024)).toFixed(2) + 'K';
			} else return size + 'B';

		}
		function refresh() {
			$.ajax({
				url: window.location.href.replace('/app', '/api/folder', 1),
				type: 'get',
				cache: false,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log(data);
					fileList = $(JSON.parse(data))[0].files;
					$('#file-group').empty();
					for (i = 0; i < fileList.length; i++) {
						str = '<div class="col-12 row file mt-2 mb-2">\
								<div class="file-item col-4">';
						if (fileList[i].type == 0) str += '<i class="fas fa-folder" aria-hidden="true"></i> ';
						else str += '<i class="fas fa-file" aria-hidden="true"></i>  ';
						str += '<a';
						if (fileList[i].type == 0) str += ' href="/app/' + fileList[i].path + '"';
						str += '>' + fileList[i].name + '</a>\
								</div>';
						str += '<div class="file-size col-2">';
						if (fileList[i].type != 0) str += fixFileSize(fileList[i].size);
						str += '</div>';
						str += '<div class="file-modified-time col-4">' + fileList[i].mtime + '</div>\
							<div class="file float-right col-2">\
								<button type="button" class="btn btn-primary" id="modalButton'+i+'" data-toggle="modal" data-target="#modal' + i + '">\
								<i class="fas fa-pen" aria-hidden="true"></i></button>\
								<div class="modal fade" id="modal'+ i +'" tabindex="-1" aria-labelledby="modalLabel'+ i +'" aria-hidden="true">\
  								<div class="modal-dialog">\
									<div class="modal-content">\
									<div class="modal-header">\
										<h5 class="modal-title" id="modalLabel'+ i +'">Rename</h5>\
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">\
										<span aria-hidden="true">&times;</span>\
										</button>\
									</div>\
									<div class="modal-body">\
										<input type="text" class="form-control" filename="'+ fileList[i].name + '" id="filename'+i+'" value="'+fileList[i].name +'">\
									</div>\
									<div class="modal-footer">\
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>\
										<button type="button" class="btn btn-primary file-rename" id="file-rename'+i+'" filename="'+ fileList[i].name + '" >Save changes</button>\
									</div>\
									</div>\
								</div>\
								</div>\
								<button class="btn btn-danger file-delete"\ filename="'+ fileList[i].name + '">\
								<i class="fas fa-trash" aria-hidden="true"></i>\
								</button></div>'

						str += '</div>';
						$('#file-group').append(str);
					}
					addMyEvent(fileList.length);
				},
				error: function (err) {
					console.log('获取最新目录失败，请稍后重试。', err);
				}
			});
		}

		$(document).ready(function () {
			processFather();
			refresh();
			//setInterval("refresh()",1000)
		});


		$('#file-submit').click(function () {
			if ($('#file').prop('files')[0] == null) {
				alert('上传文件为空！');
			}
			else {
				var files = $('#file').prop('files');
				var data = new FormData();
				data.append('file', files[0]);
				$.ajax({
					url: window.location.href.replace('/app', '/api/folder', 1),
					type: 'POST',
					data: data,
					cache: false,
					processData: false,
					contentType: false,
					success: function (data) {
						console.log(data);
						refresh();
					},
					error: function (err) {
						console.error(err);
						$("#result").html(err.responseText).removeClass("alert-success").addClass("alert-danger");
					}
				});
			}
		});

		function addMyEvent(len) {
			for (i=0;i<len;i++)
			{
				$('#modalButton'+ i).on('click', function () {
					console.log($('#modal'+i))
  					$('#modal'+i).modal('show')
				})
				$('#file-rename'+i).click(function () {
					
					console.log('src:'+$(this).attr('filename'))
					console.log('dst:'+$('#filename').val())
					$.ajax({
					url: window.location.href.replace('/app', '/api/folder', 1),
					type: 'PUT',
					data: JSON.stringify({ src: $(this).attr('filename'),
						dst: $(this).parent().siblings('.modal-body').children('input').val() }),
					cache: false,
					processData: false,
					contentType: false,
					success: function (data) {
						console.log(data);
						$("#result").text(JSON.stringify(data)).addClass("alert-success").removeClass("alert-danger");
					},
					error: function (err) {
						console.error(err);
						$("#result").html(err.responseText).removeClass("alert-success").addClass("alert-danger");
					}
					});
					$(this).parents('.modal').modal('hide')
					refresh()
				});
				

			}
			$('.file-delete').click(function () {
				console.log('file-delete!')
				console.log($(this).attr('filename'))
				$.ajax({
					url: window.location.href.replace('/app', '/api/folder', 1),
					type: 'DELETE',
					data: JSON.stringify({ src: $(this).attr('filename') }),
					cache: false,
					processData: false,
					contentType: false,
					success: function (data) {
						console.log(data);
						$("#result").text(JSON.stringify(data)).addClass("alert-success").removeClass("alert-danger");
						refresh();
					},
					error: function (err) {
						console.error(err);
						$("#result").html(err.responseText).removeClass("alert-success").addClass("alert-danger");
					}
				});
			});
		}
	</script>
</body>

</html>