<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, minimum-scale=1.0">
	<title>Hence File Manager</title>
	<!--link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/icon/favicon.ico" /-->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.2/css/all.css" rel="stylesheet">
	<link href="https://cdn.bootcdn.net/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" rel="stylesheet">
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
		<div class="container">
			<a href="" class="nav navbar-brand"><b>Hence File Manager</b></a>
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<nav>
				<ol class="breadcrumb row">
					<li class="breadcrumb-item active" aria-current="page">
						<a class="btn" href="/app" title="根目录">
							<i class="fas fa-folder"></i>
						</a>
					</li>
					<li>
						<button class="btn" id="refresh" onclick="refresh(true)" title="刷新"><i class="fas fa-sync"
								aria-hidden="true"></i></button>
					</li>
					<li>
						<button class="btn" id="add-folder-modal-button" title="新建文件夹"><i class="fas fa-plus"
								aria-hidden="true"></i></button>
					</li>
					<li>
						<button class="btn" id="upload-modal-button" title="上传"><i class="fas fa-file-upload"
								aria-hidden="true"></i></button>
					</li>
				</ol>
			</nav>
			<div class="modal fade" id="modal-add-folder" tabindex="-1" aria-labelledby="modal-add-folder-label"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-add-folder-label">新建文件夹</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<input type="text" class="form-control" id="add-folder-body" value="">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
							<button type="button" class="btn btn-primary" id="add-folder">保存</button>
						</div>
					</div>
				</div>
			</div>
			<form method="post">
				<div class="modal fade" id="modal-upload" tabindex="-1" aria-labelledby="modal-upload-label"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="modal-upload-label">上传文件</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<input type="file" id="file"></input>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
								<button type="button" class="btn btn-primary" id="file-submit">保存</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div>
				<div class="row">
					<div class="file-item col-4">
						<i class="fas fa-folder" aria-hidden="true"></i>
						<a id='father'>..</a>
					</div>
				</div>
			</div>
			<div id="file-group">
			</div>
			<div class="alert" role="alert" id="result"></div>
		</div>
	</div>
	<footer class="footer">
		<div class="container text-center">
			<div class="col-12">
				<b>Hence File Manager</b> © 2021 <a href="https://enatsu.top">Enatsu</a>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		function processFather() {
			if (window.location.href.endsWith('app/')) {
				$("#father").parent().hide();
			}
			else {
				$("#father").attr("href", window.location.href.replace(/(.+)\/.+/g, '$1', 1));
			}
		}
		function fixFileSize(size) {
			if (size === '') return '';
			if (size > 1024) {
				if (size > 1024 * 1024) {
					if (size > 1024 * 1024 * 1024) {
						return Number(size / (1024 * 1024 * 1024)).toFixed(2) + 'G';
					} else return Number(size / (1024 * 1024)).toFixed(2) + 'M';
				}
				else return Number(size / (1024)).toFixed(2) + 'K';
			} else return size + 'B';
		}
		function addSuccessAlert(data, state) {
			if (state == true) {
				$("#result").text(JSON.stringify(data).replace(/\\[^\\]/g, '')).addClass("alert-success").removeClass("alert-danger");
			}
			else {
				$("#result").html(data.responseText).removeClass("alert-success").addClass("alert-danger");
			}
		}
		function emptySuccessAlert() {
			$("#result").empty().removeClass('alert-success').removeClass('alert-danger');
		}

		function refresh(empty) {
			$.ajax({
				url: window.location.href.replace('/app', '/api/folder/basic', 1),
				type: 'get',
				cache: false,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log(data);
					fileList = $(JSON.parse(data))[0].files;
					$('#file-group').empty();
					for (i = 0; i < fileList.length; i++) {
						str = '<div class="row file mt-2 mb-2">\
								<div class="file-item col-4">';
						if (fileList[i].type == 0) str += '<i class="fas fa-folder" aria-hidden="true"></i> ';
						else str += '<i class="fas fa-file" aria-hidden="true"></i>  ';
						str += '<a';
						if (fileList[i].type == 0) str += ' href="/app/' + fileList[i].path + '"';
						str += '>' + fileList[i].name + '</a>\
								</div>';
						str += '<div class="text-right col-8">';
						if (fileList[i].type != 0) str += fixFileSize(fileList[i].size);
						str += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + fileList[i].mtime + '&nbsp;&nbsp;&nbsp;\
								<button type="button" class="btn btn-outline-dark" id="copy-modal-button-'+ i + '" title="复制" data-toggle="modal" data-target="#modal-copy-' + i + '">\
									<i class="fas fa-copy" aria-hidden="true"></i>\
								</button>\
								<button type="button" class="btn btn-outline-success" id="paste-modal-button-'+ i + '" title="移动" data-toggle="modal" data-target="#modal-move-' + i + '">\
									<i class="fas fa-file-export"aria-hidden="true"></i>\
								</button>\
								<button type="button" class="btn btn-outline-primary" id="rename-modal-button-'+ i + '" title="重命名" data-toggle="modal" data-target="#modal-rename-' + i + '">\
									<i class="fas fa-pen" aria-hidden="true"></i>\
								</button>\
								<button class="btn btn-outline-danger file-delete"\ filename="' + fileList[i].name + '" id="file-delete-' + i + '">\
								<i class="fas fa-trash" aria-hidden="true"></i>\
								</button>';
						str += '<div class="modal fade copy-modal" id="modal-copy-' + i + '" tabindex="-1" aria-labelledby="copy-modal-label-' + i + '" aria-hidden="true">\
  								<div class="modal-dialog">\
									<div class="modal-content">\
									<div class="modal-header">\
										<h5 class="modal-title" id="copy-modal-label-'+ i + '">复制到...</h5>\
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">\
										<span aria-hidden="true">&times;</span>\
										</button>\
									</div>\
									<div class="modal-body">\
										<input type="text" class="form-control filename" filename="'+ fileList[i].name + '" id="copy-filename-' + i + '" value="' + window.location.href.replace(/.+\/app/i, '') + '">\
									</div>\
									<div class="modal-footer">\
										<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>\
										<button type="button" class="btn btn-primary file-copy" id="file-copy-'+ i + '">保存</button>\
									</div>\
									</div>\
								</div>\
								</div>';
						str += '<div class="modal fade move-modal" id="modal-move-' + i + '" tabindex="-1" aria-labelledby="move-modal-label-' + i + '" aria-hidden="true">\
  								<div class="modal-dialog">\
									<div class="modal-content">\
									<div class="modal-header">\
										<h5 class="modal-title" id="move-modal-label-'+ i + '">移动到...</h5>\
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">\
										<span aria-hidden="true">&times;</span>\
										</button>\
									</div>\
									<div class="modal-body">\
										<input type="text" class="form-control filename" filename="'+ fileList[i].name + '" id="move-filename-' + i + '" value="' + window.location.href.replace(/.+\/app/i, '') + '">\
									</div>\
									<div class="modal-footer">\
										<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>\
										<button type="button" class="btn btn-primary file-move" id="file-move-'+ i + '">保存</button>\
									</div>\
									</div>\
								</div>\
								</div>';
						str += '<div class="modal fade rename-modal" id="modal-rename-' + i + '" tabindex="-1" aria-labelledby="rename-modal-label-' + i + '" aria-hidden="true">\
  								<div class="modal-dialog">\
									<div class="modal-content">\
									<div class="modal-header">\
										<h5 class="modal-title" id="rename-modal-label-'+ i + '">重命名</h5>\
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">\
										<span aria-hidden="true">&times;</span>\
										</button>\
									</div>\
									<div class="modal-body">\
										<input type="text" class="form-control filename" filename="'+ fileList[i].name + '" id="filename' + i + '" value="' + fileList[i].name + '">\
									</div>\
									<div class="modal-footer">\
										<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>\
										<button type="button" class="btn btn-primary file-rename" id="file-rename-'+ i + '">保存</button>\
									</div>\
									</div>\
								</div>\
								</div>';
						str += '</div></div>';
						$('#file-group').append(str);
					}
					addMyEvent(fileList.length);
					if (empty) emptySuccessAlert();
				},
				error: function (err) {
					console.log('获取最新目录失败，请稍后重试。', err);
				}
			});
		}

		$(document).ready(function () {
			processFather();
			refresh();
		});

		$('#add-folder-modal-button').click(function () {
			$('#modal-add-folder').modal('show')
		});

		$('#upload-modal-button').click(function () {
			$('#modal-upload').modal('show')
		});

		$('#add-folder').click(function () {
			$.ajax({
				url: window.location.href.replace('/app', '/api/folder/new', 1),
				type: 'POST',
				data: JSON.stringify({ dst: $('#add-folder-body').val() }),
				cache: false,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log(data);
					addSuccessAlert(data, true);
					setTimeout(refresh(false), 2000);
				},
				error: function (err) {
					console.error(err);
					addSuccessAlert(err, false);
					setTimeout(refresh(false), 2000);
				}
			});
			$('#add-folder-body').val('');
			$(this).parents('.modal').modal('hide')
		});

		$('#file-submit').click(function () {
			if ($('#file').prop('files')[0] == null) {
				alert('上传文件为空！');
			}
			else {
				var files = $('#file').prop('files');
				var data = new FormData();
				data.append('file', files[0]);
				$.ajax({
					url: window.location.href.replace('/app', '/api/folder/basic', 1),
					type: 'POST',
					data: data,
					cache: false,
					processData: false,
					contentType: false,
					success: function (data) {
						addSuccessAlert(data, true);
						setTimeout(refresh(false), 2000);
					},
					error: function (err) {
						console.error(err);
						addSuccessAlert(err, false);
					}
				});
				$('#file').empty();
				$(this).parents('.modal').modal('hide')
			}
		});
	</script>
	<script>
		function addMyEvent(len) {
			for (i = 0; i < len; i++) {
				$('#copy-modal-button-' + i).on('click', function () {
					console.log($(this).siblings('.copy-modal'))
					$(this).siblings('.copy-modal').modal('show')
				});
				$('#move-modal-button-' + i).on('click', function () {
					console.log($(this).siblings('.move-modal'))
					$(this).siblings('.move-modal').modal('show')
				});
				$('#rename-modal-button-' + i).on('click', function () {
					console.log($(this).siblings('.rename-modal'))
					$(this).siblings('.rename-modal').modal('show')
				});
				$('#file-copy-' + i).click(function () {
					console.log('src:' + $(this).parent().siblings('.modal-body').children('input').attr('filename'))
					console.log('dst:' + $(this).parent().siblings('.modal-body').children('input').val())
					$.ajax({
						url: window.location.href.replace(/\/app\/?/i, '/api/file/copy/', 1).replace(/(.+)\/$/i, '$1') + '/' + $(this).parent().siblings('.modal-body').children('input').attr('filename'),
						type: 'PUT',
						data: JSON.stringify({
							dst: $(this).parent().siblings('.modal-body').children('input').val()
						}),
						cache: false,
						processData: false,
						contentType: false,
						success: function (data) {
							addSuccessAlert(data, true);
							setTimeout(refresh(false), 2000);
						},
						error: function (err) {
							console.error(err);
							addSuccessAlert(err, false);
						}
					});
					$(this).parents('.modal').modal('hide')
				});
				$('#file-move-' + i).click(function () {
					console.log('src:' + $(this).parent().siblings('.modal-body').children('input').attr('filename'))
					console.log('dst:' + $(this).parent().siblings('.modal-body').children('input').val())
					$.ajax({
						url: window.location.href.replace(/\/app\/?/i, '/api/file/move/', 1).replace(/(.+)\/$/i, '$1') + '/' + $(this).parent().siblings('.modal-body').children('input').attr('filename'),
						type: 'PUT',
						data: JSON.stringify({
							dst: $(this).parent().siblings('.modal-body').children('input').val()
						}),
						cache: false,
						processData: false,
						contentType: false,
						success: function (data) {
							addSuccessAlert(data, true);
							setTimeout(refresh(false), 2000);
						},
						error: function (err) {
							console.error(err);
							addSuccessAlert(err, false);
						}
					});
					$(this).parents('.modal').modal('hide')
				});
				$('#file-rename-' + i).click(function () {
					console.log('src:' + $(this).parent().siblings('.modal-body').children('input').attr('filename'))
					console.log('dst:' + $(this).parent().siblings('.modal-body').children('input').val())
					$.ajax({
						url: window.location.href.replace('/app', '/api/folder/basic', 1),
						type: 'PUT',
						data: JSON.stringify({
							src: $(this).parent().siblings('.modal-body').children('input').attr('filename'),
							dst: $(this).parent().siblings('.modal-body').children('input').val()
						}),
						cache: false,
						processData: false,
						contentType: false,
						success: function (data) {
							addSuccessAlert(data, true);
							setTimeout(refresh(false), 2000);
						},
						error: function (err) {
							console.error(err);
							addSuccessAlert(err, false);
						}
					});
					$(this).parents('.modal').modal('hide')
				});
				$('#file-delete-' + i).click(function () {
					filename = $(this).attr('filename')
					$.confirm({
						title: '删除',
						content: "确定删除" + filename + "？",
						buttons: {
							ok: {
								action: function () {
									console.log('file-delete!');
									console.log(filename)
									$.ajax({
										url: window.location.href.replace('/app', '/api/folder/basic', 1),
										type: 'DELETE',
										data: JSON.stringify({ src: filename }),
										cache: false,
										processData: false,
										contentType: false,
										success: function (data) {
											console.log(data);
											addSuccessAlert(data, true);
											refresh(false);
										},
										error: function (err) {
											console.error(err);
											addSuccessAlert(err, false);
										}
									});
								}
							},
							cancel: {
							}
						}
					});
				});
			}
		}
	</script>
</body>

</html>